@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
Thin 100
ExtraLght 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800
Black 900
*/

// Color Variables
$primary-color: #002ef1;
$secondary-color: #ffb802;
$error-color: #fe3f61;
$success-color: #009846;
$warning-color: #ff6711;
$gradient-primary: linear-gradient(108.08deg, #0000eb -2.53%, #004bfb 106.16%);
$gradient-secondary: gradient(108.08deg, #ff9c00 -2.53%, #ffdb03 123.11%);
$gradient-accent: linear-gradient(114.44deg, #0038f5 0%, #9f03ff 100%);

body[data-theme="dark"] {
  --first-color: #222222;
  --second-color: #333333;
  --third-color: #555555;
  --fourth-color: #888888;
}

body[data-theme="light"] {
  --first-color: #dcdcdc;
  --second-color: #f0f0f0;
  --third-color: #f8f8f8;
  --fourth-color: #fcfcfc;
}

// Auto detect user's theme mode selection
/* @media (prefers-color-scheme: dark) {
  body {
    --first-color: #222222;
    --second-color: #333333;
    --third-color: #555555;
    --fourth-color: #888888;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --first-color: #dcdcdc;
    --second-color: #f0f0f0;
    --third-color: #f8f8f8;
    --fourth-color: #fcfcfc;
  }
} */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--first-color);
  font-family: "Epilogue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 2em;
}

.input-container {
  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;

    .select-network {
      padding: 16px;
      font-size: 1em;
      font-weight: 600;
    }

    @media (max-width: 950px) {
      flex-direction: column;
    }

    input {
      font-size: 1em;
      width: 30em;
      padding: 15px;
      color: gray;
      font-weight: 600;

      &:first-child {
        margin-right: 30px;

        @media (max-width: 950px) {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .search-btn-container {
    display: flex;
    justify-content: center;

    button {
      background-color: white;
      font-size: 1em;
      padding: 15px;
      color: rgb(70, 70, 70);
      font-weight: 600;
      transition: background-color 300ms;

      &:hover {
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>")
            16 0,
          auto;
        background-color: rgb(236, 236, 236);
      }
    }
  }
}

.NFT-info-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media (max-width: 950px) {
    flex-direction: column;
  }

  .NFT-infos-container {
    border: 2px solid gray;

    @media (max-width: 950px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .see-NFT-on-marketplaces {
    border: 2px solid gray;

    @media (max-width: 950px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

footer {
  padding: 20px;
  text-align: center;
  font-weight: 200;
  font-style: italic;
}
